*{
    margin: 0;
    padding: 0;
}

body{
    font-family: monospace, sans-serif;
    background-color: #101b40;
    color: #fff;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.color-letter{
    color: #fff;
}

.color-letter2{
    color: #ccc;
}

.mt-20{
    margin-top: 20px;
}

.font-family{
    font-family: monospace, sans-serif;
}

main{
    height: 100vh;
}

.container{
    width: 600px;
}

.mood{
    background: transparent;
    text-transform: uppercase;
    border: none;
    gap: 15px; /* espacio entre elementos */
    cursor: pointer;
}

.search{
    margin-top: 30px;
    background-color: #313e67;
    padding: 10px;
    border-radius: 12px;
    gap: 20px;
}

.search input{
    flex-grow: 1;
    background-color: transparent;
    border: none;
    font-size: 18px;
}

::placeholder/* Pseudoelemento */{
    color: #fff;
    font-family: monospace, sans-serif;
}
input:focus{
    outline: none;
}

.search button{
    border: none;
    background-color: #2250e9;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.result{
    background-color: #313e67;
    padding: 30px;
    border-radius: 12px;
    margin-top: 25px;
    gap: 30px;
}

.avatar{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;    
}

.profile{
    flex-grow: 1;
}

.username{
    color: #05133f;
}

.date{
    font-size: 13px;
}

.stats{
    justify-content: space-around; /*acaaaaa*/
    background-color: #101b40;
    border-radius: 6px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
}

h6{
    color: #ccc;
}

.social{
    font-size: 14px;
    gap: 30px;
}

.social div{
    width: 50%;
}